<div class="index-modal-menu">
	<div class="title">поиск гостиницы в седоне</div>
	<form action="">
		<p><label for="id_date_arrive">Дата заезда:</label> <input type="date" name="date" id="id_date"></p>
		<p><label for="id_date_departure">Дата выезда:</label> <input type="date" name="date" id="id_date"></p>
		<p><label for="id_adult">Взрослые:</label> <input type="number" name="number" id="id_number" min=1 max=30 step=1></p>
		<p><label for="id_child">Дети:</label> <input type="number" name="number" id="id_number" min=1 max=30 step=1></p>
		<p><input class="btn" type="submit" value="Отправить"></p>
	</form>
</div>