<div class="content-wrap">
<input type="checkbox" id="toggle" name="menu">
				<label for="toggle" class="on"><svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="22.928px" height="21.982px" viewBox="0 0 22.928 21.982" enable-background="new 0 0 22.928 21.982" xml:space="preserve">
<g>
	<rect width="22.928" height="3.964"/>
	<rect y="9.009" width="22.928" height="3.964"/>
	<rect y="18.018" width="22.928" height="3.964"/>
</g>
</svg></label>
				<label for="toggle" class="off"><svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="22.199px" height="22.199px" viewBox="0 0 22.199 22.199" enable-background="new 0 0 22.199 22.199" xml:space="preserve">
<polygon points="22.199,2.804 19.396,0 11.1,8.297 2.804,0 0,2.803 8.297,11.1 0,19.396 2.803,22.199 11.1,13.902 19.396,22.199 
	22.199,19.396 13.903,11.1 "/>
</svg></label>
	<ul>
		<li>
			<a href="">Информация</a>
		</li>
		<li>
			<a href="">Фото и видео</a>
		</li>
		<li>
			<a href="">
				<img src="img/logo.png" alt=""></a><br><br><br>
		</li>
		<li>
			<a href="">Карта штата</a>
		</li>
		<li>
			<a href="">Гостиницы</a>
		</li>
	</ul>

</div>